a,
abbr,
acronym,
address,
article,
aside,
b,
blockquote,
body,
cite,
code,
dd,
div,
dfn,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
img,
label,
legend,
li,
nav,
ol,
p,
pre,
section,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
thead,
th,
tr,
u,
ul {
	border: 0;
	font-size: 100%;
	font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

img,
svg {
	vertical-align: middle;
}

body {
	line-height: 1;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media ( min-width: 1026px ) {

	body {
		width: 1024px;
	}

}

@media ( min-width: 1024px ) {

	body {
		width: 1024px;
	}

	fieldset {
	    padding-bottom: 0.9765625%;
	}

	fieldset + fieldset {
	    margin-top: 1.953125%;
	}

	footer,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-bottom: 0.9765625%;
	}

	footer,
	header,
	section {
		width: 98.046875%
	}

	footer,
	section,
	section h2 {
		margin-top: 3.90625% !important;
	}

	h1 span,
	h2 span {
		margin-left: 0.9765625%;
	}

	header {
		padding: 0 0.9765625% 0 0.9765625%;
	}

	header nav {
		right: 0.9765625%;
		top: 8px;
	}

  /* TODO: Convert to % */
	header nav ul li + li {
		margin-left: 20px;
	}

	input.large,
	textarea.large,
	fieldset ul.large {
		width: 58.59375%; /*600px;*/
	}

	input.medium,
	textarea.medium {
		width: 29.296875%; /* 300px */
	}

	input.small,
	textarea.small {
		width: 14.6484375%; /* 150px */
	}

	main section h2 {
		margin-top: 0 !important;
	}

	main section:nth-child(even) img {
		float: left;
		padding: 0.9765625% 3.90625% 0 0;
	}

	main section:nth-child(odd) img {
		float: right;
		padding: 0.9765625% 0 0 3.90625%;
	}

	section {
		margin-left: 0.9765625%;
		margin-right: 0.9765625%;
	}

	select {
		width: 410px;
	}

	select.large {
		width: 610px;
	}

	select.medium {
		width: 210px;
	}

	select.small {
		width: 110px;
	}

	.centered {
		clear: both;
		margin: 3.90625% auto;
		width: 31.38020833333333%;
	}

	.centered input[type=password],
	.centered input[type=text] {
		font-size: 14px;
		height: 24px;
		text-indent: 4px;
		width: 94%;
	}

	.columns.three section {
		margin: 1.953125% 0.9765625% 0 0.9765625%;
	}

	.columns.three section,
	.columns.two.offset section + section {
		width: 31.38020833333333%;
	}

	.columns.three section:nth-child(3n+1),
	.columns.two section:nth-child(odd) {
		clear: left;
	}

	.columns.two section {
		width: 48.046875%;
	}

	.columns.two.offset section {
		width: 64.71354166666667%;
	}

	.table-search input[type='text'] {
	    width: 29.296875%; /*300px;*/
	}

}

@media ( min-width: 768px ) and ( max-width: 1023px ) {

	body {
		width: 100%;
	}

	div section,
	main section {
		margin: 0 1.302083333333333% 0 1.302083333333333%;
	}

	header {
		padding: 0 1.302083333333333% 0 1.302083333333333%;
	}

	header nav {
		right: 1.302083333333333%;
	}

	.columns.three section {
		margin: 2.604166666666667% 1.302083333333333% 0 1.302083333333333%;
	}

	.columns.three section,
	.columns.two.offset section + section {
		width: 30.72916666666667%;
	}

	.columns.three section:nth-child(3n+1),
	.columns.two section:nth-child(odd) {
		clear: left;
	}

	.columns.two section {
		margin: 0 1.302083333333333% 0 1.302083333333333%;
		width: 47.39583333333333%;
	}

	.columns.two.offset section {
		width: 64.0625%;
	}

}

@media (min-width: 320px ) and ( max-width: 767px ) { /* 736 target */

	body {
		width: 100%;
	}

	div section,
	main section,
	.columns.three section,
	.columns.two section,
	.columns.two.offset section {
		float: none;
		margin: 0 1.358695652173913% 0 1.358695652173913%;
		width: 97.28260869565217%;
	}

	header {
		padding: 0 1.358695652173913% 0 1.358695652173913%;
	}

	header nav {
		right: 1.358695652173913%;
	}

	.columns.three section {
		margin-top: 5.434782608695652%;
	}

}
