a,
abbr,
acronym,
address,
article,
aside,
b,
blockquote,
body,
cite,
code,
dd,
div,
dfn,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
img,
label,
legend,
li,
nav,
ol,
p,
pre,
section,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
thead,
th,
tr,
u,
ul {
	border: 0;
	font-size: 100%;
	font-family: -apple-system, "Helvetica", "Lucida Grande";
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

body {
	background-color: #fff;
	line-height: 1;
	margin: 0 auto;
}

body,
dl,
fieldset,
footer,
header,
html,
nav,
section {
	position: relative;
}

button,
input[type=button],
input[type=submit] {
    background-color: #f5f5f5;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 4px;
		clear: both;
    color: #424242;
    cursor: pointer;
    display: block;
    font-weight: 600;
    height: auto;
    line-height: normal;
    padding: 8px 14px 8px;
    width: auto;
}

fieldset {
	border: 0;
	margin: 0 0 30px 0;
	padding: 0;
}

fieldset label {
  display: block;
	padding: 4px 0 4px 0;
}

fieldset legend {
	border-top: 2px solid #efefef;
  color: #333;
	display: none;
  font-size: 1.25em;
  padding: 10px 0 10px 0;
  width: 100%;
}

fieldset + fieldset legend {
  display: block;
}

fieldset legend span {
  border: 0;
  color: #999;
  float: right;
  font-size: 0.75em;
}

fieldset li {
  margin-bottom: 10px;
  position: relative;
}

fieldset li p {
	color: #999;
	font-size: 0.90em;
	margin: 4px 0;
	padding: 0;
}

fieldset ol,
fieldset ul {
  list-style: none;
}

footer {
	border: none;
	font-size: 0.90em;
}

footer,
footer a {
	color: #616161;
}

footer,
header,
main {
	clear: both;
}

footer,
header,
main,
section {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.50em;
}

h1 span,
h2 span {
	float: right;
}

h1,
h2 {
	border-top: 2px solid #e0e0e0;
	padding-top: 4px;
}

header {
	background-color: #efefef;
	position: relative;
}

header nav {
	position: absolute;
	top: 4px;
}

header nav a {
	text-decoration: none;
}

header nav ul {
  list-style: none;
}

header nav ul li {
	float: left;
	margin: 0;
	padding: 0;
}

header nav ul li + li {
	margin-left: 20px;
}

html {
	background-color: #ccc;
}

img,
svg {
	vertical-align: middle;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #f5f5f5;
	cursor: not-allowed;
	border: 1px solid #ddd;
	font-weight: normal;
	line-height: normal;
	margin: 0;
  padding: 4px;
  width: 400px;
}

input[type=file],
input[type=password],
input[type=text],
textarea {
	border: 1px solid #9e9e9e;
}

input[type=file],
input[type=password],
input[type=text],
select,
textarea {
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 1.05em;
	height: 2.00rem;
	margin: 0;
	outline: none;
  padding: 4px;
  width: 400px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type=email]:focus,
input[type=file]:focus,
input[type=password]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
	border: 1px solid #757575;
}

input[type=text] {
    -webkit-appearance: none;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table tbody tr:hover td {
	background-color: #fffde7;
}

table td {
	vertical-align: top;
}

table td,
table th {
	border-bottom: 1px solid #e6e6e6;
	padding: 4px;
	position: relative;
}

table tfoot td {
    border-top: solid 2px #ccc;
    color: #333;
    font-weight: bold;
}

table th {
	background-color: #f9f9f9;
	border-bottom-width: 2px;
	border-top: 3px solid #e6e6e6;
	color: #333;
	font-size: 0.90em;
	font-weight: normal;
	vertical-align: bottom;
}

textarea {
	height: 100px;
  resize: vertical;
}

.columns.three section,
.columns.two section {
	float: left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(158, 158, 158, 0.2);
  border-radius: 0px;

  -webkit-border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(158, 158, 158, 0.5);
}

::-webkit-scrollbar-track {
  border-radius: 0px;

  -webkit-border-radius: 0px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

@media ( min-width: 1024px ) {

	body {
		width: 1024px;
	}

	fieldset {
	    padding-bottom: 0.9765625%;
	}

	footer,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-bottom: 0.9765625%;
	}

	footer,
	header,
	section {
		width: 98.046875%
	}

	footer,
	section {
		margin-top: 3.90625% !important;
	}

	h1 span,
	h2 span {
		margin-left: 0.9765625%;
	}

	header {
		padding: 0 0.9765625% 0 0.9765625%;
	}

	header nav {
		right: 0.9765625%;
		top: 8px;
	}

  /* TODO: Convert to % */
	header nav ul li + li {
		margin-left: 20px;
	}

	input.large,
	textarea.large,
	fieldset ul.large {
		width: 58.59375%; /*600px;*/
	}

	input.medium,
	textarea.medium {
		width: 29.296875%; /* 300px */
	}

	input.small,
	textarea.small {
		width: 14.6484375%; /* 150px */
	}

	section {
		margin-left: 0.9765625%;
		margin-right: 0.9765625%;
	}

	select {
		width: 410px;
	}

	select.large {
		width: 610px;
	}

	select.medium {
		width: 210px;
	}

	select.small {
		width: 110px;
	}

	.columns.three section {
		margin: 1.953125% 0.9765625% 0 0.9765625%;
	}

	.columns.three section,
	.columns.two.offset section + section {
		width: 31.38020833333333%;
	}

	.columns.three section:nth-child(3n+1),
	.columns.two section:nth-child(odd) {
		clear: left;
	}

	.columns.two section {
		width: 48.046875%;
	}

	.columns.two.offset section {
		width: 64.71354166666667%;
	}

	.split fieldset {
		float: left;
		overflow: hidden;
		width: 49.0234375%;
	}

	.split fieldset:last-of-type,
	.split fieldset:nth-child(odd) {
		min-height: auto !important;
	}

	.split fieldset:nth-child(even) {
		min-height: 180px;
	}

	.split fieldset legend {
		display: block;
	}

	.split fieldset:nth-child(even) {
	  margin-left: 0.9765625%;
	}

	.split fieldset:nth-child(odd) {
	  margin-right: 0.9765625%;
	}

	.table-search input[type='text'] {
	    width: 29.296875%; /*300px;*/
	}

}

@media ( min-width: 768px ) and ( max-width: 1023px ) {

	body {
		width: 100%;
	}

	div section,
	main section {
		margin: 0 1.302083333333333% 0 1.302083333333333%;
	}

	header {
		padding: 0 1.302083333333333% 0 1.302083333333333%;
	}

	header nav {
		right: 1.302083333333333%;
	}

	.columns.three section {
		margin: 2.604166666666667% 1.302083333333333% 0 1.302083333333333%;
	}

	.columns.three section,
	.columns.two.offset section + section {
		width: 30.72916666666667%;
	}

	.columns.three section:nth-child(3n+1),
	.columns.two section:nth-child(odd) {
		clear: left;
	}

	.columns.two section {
		margin: 0 1.302083333333333% 0 1.302083333333333%;
		width: 47.39583333333333%;
	}

	.columns.two.offset section {
		width: 64.0625%;
	}

}

@media (min-width: 320px ) and ( max-width: 767px ) { /* 736 target */

	body {
		width: 100%;
	}

	div section,
	main section,
	.columns.three section,
	.columns.two section,
	.columns.two.offset section {
		float: none;
		margin: 0 1.358695652173913% 0 1.358695652173913%;
		width: 97.28260869565217%;
	}

	header {
		padding: 0 1.358695652173913% 0 1.358695652173913%;
	}

	header nav {
		right: 1.358695652173913%;
	}

	.columns.three section {
		margin-top: 5.434782608695652%;
	}

}

/* http://kushagragour.in/lab/hint/
<a href="javascript:void(0)" data-hint="bottom-left" class="hint--bottom-left">bottom-left</a>
[data-hint] {
  position: relative;
  display: inline-block;
 }
  [data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms; }
  [data-hint]:hover:before, [data-hint]:hover:after {
    visibility: visible;
    opacity: 1; }
  [data-hint]:hover:before, [data-hint]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms; }
  [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  [data-hint]:after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap; }

[data-hint='']:before, [data-hint='']:after {
  display: none !important; }
 */
